<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
  Order Summery
</div>
<div class="p-4">
  <p class="font-italic mb-4">Shipping and tax will be added depending on choices made at Checkout!</p>
  <ul class="list-unstyled mb-4" *ngIf="(basketTotal$ | async) as totals">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted"> Subtotal</strong>
      <strong>{{totals.subtotal | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <h5>
        <strong class="text-muted"> Tax</strong>
      </h5>
      <span class="d-inline-block text-muted small d-block ml-0 pl-0">*Depending on country</span>
      <strong>{{totals.tax | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted"> Shipping and handling</strong>
      <strong>{{totals.shipping | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted"> Total</strong>
      <strong>{{totals.total | currency}}</strong>
    </li>
  </ul>
</div>
